/* You can add global styles to this file, and also import other style files */
html {
    height: 98%;
    overflow: hidden;
}

body {
    height: 100%;
}

#toast-container {
    margin-top: 5px;
    margin-right: 10px;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #7387a5 !important;
}

